* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.txt {
  /* margin: -2px; */
  resize: none;
  border: 1px solid grey;
}
.title {
  margin-bottom: 3rem;
  background-color: aliceblue;
  padding: 3px;
  /* border-left: none; */
}
.txt:focus {
  outline: none;
}
.main {
 background-image: url(/987.jpg);
  width: 100%;
  height: 100vh;
  /* display: grid; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
    /* position: absolute; */
  width: 100%;

  background-color:#3b3b3b;
  border: none;
  padding-block: 5px;
  color: white;
}
.box {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 20px rgb(73, 73, 73);
}

.wraper{
    position: relative;
}